// ::-webkit-scrollbar
//   width: 0

::selection
  background-color: #E6E6E6 // rgba(lightgray, .5)
  
html
  font-size: 16px
  scroll-behavior: smooth
  // scrollbar-width: none

body
  font-family: "Noto Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"

[v-cloak]
  opacity: 0

a:hover
  color: var(--mdb-primary)
  @media (min-width: 992px)
    text-decoration: underline

button a,
.dropdown-menu a,
a.btn,
a.nav-link
  &:hover
    text-decoration: none

.absolute-center
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.w-1
  width: 1rem
.w-2
  width: 2rem
.w-3
  width: 3rem
.w-4
  width: 4rem
.w-5
  width: 5rem
.w-6
  width: 6rem

.text-hover-danger
  transition: color .2s
  &:hover
    color: var(--mdb-danger) !important

.btn-gray, .btn-dimgray
  color: white
  &:hover
    color: white

.btn-gray, .bg-gray
  background-color: gray
.btn-dimgray, .bg-dimgray
  background-color: dimgray
.bg-lightgray-20
  background-color: #F1F1F1 // rgba(lightgray, .2)

.cursor-default
  cursor: default
.cursor-pointer
  cursor: pointer
.disabled
  cursor: no-drop

.overflow-x-hidden
  overflow-x: hidden
