body
  font-family: 'Roboto', sans-serif
  font-size: 16px

section
  margin: .5em 0

li
  margin-bottom: .5em
.list-style-none
  list-style-type: none

.w-1
  width: 1em
.w-2
  width: 2em
.w-3
  width: 3em
.w-4
  width: 4em
.w-5
  width: 5em
.w-6
  width: 6em

.card-cover
  background-repeat: 
  background-position: center center
  background-size: cover

.bg-lightgray-20
  background-color: rgba(211, 211, 211, .2)

.cursor-default
  cursor: default
.cursor-pointer
  cursor: pointer

.overflow-x-hidden
  overflow-x: hidden
