// ::-webkit-scrollbar
//   width: 0

::selection
  background-color: #E6E6E6 // rgba(lightgray, .5)
  
html
  // scrollbar-width: none
  scroll-behavior: smooth

body
  font-family: 'Noto Sans', sans-serif
  font-size: 16px

[v-cloak]
  opacity: 0

a:hover
  color: #1167F2
  @media (min-width: 992px)
    text-decoration: underline

button a:hover,
a.btn:hover, a.nav-link:hover,
.dropdown-menu a:hover
  text-decoration: none

.w-1
  width: 1em
.w-2
  width: 2em
.w-3
  width: 3em
.w-4
  width: 4em
.w-5
  width: 5em
.w-6
  width: 6em

.bg-lightgray-20
  background-color: #F1F1F1 // rgba(lightgray, .2)

.cursor-default
  cursor: default
.cursor-pointer
  cursor: pointer

.overflow-x-hidden
  overflow-x: hidden

.ghost-element
  opacity: 0
  pointer-events: none
