<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/assets/images/logo.svg">
    <title>Create Petite App</title>
    <meta name="title" content="Create Petite App">
    <meta name="description" content="Frontend-template that helps quickly start projects from scratch">
    <meta name="keywords" content="front-end responsive utility-classes grid-layout responsive-design vue-template frontend-template animate-css front-end-template vue3 bootstrap5 petite-vue">
    <meta name="author" content="Ray Chang">
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://create-petite-app.netlify.app/intro/">
    <meta property="og:title" content="Create Petite App">
    <meta property="og:description" content="Frontend-template that helps quickly start projects from scratch">
    <meta property="og:image" content="https://opengraph.githubassets.com/825d81df90fe99eeaaf4b479ef7d7fc8e440cb3a51f5cad0e49c64aa61ef39e9/vuejs/petite-vue">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://create-petite-app.netlify.app/intro/">
    <meta property="twitter:title" content="Create Petite App">
    <meta property="twitter:description" content="Frontend-template that helps quickly start projects from scratch">
    <meta property="twitter:image" content="https://opengraph.githubassets.com/825d81df90fe99eeaaf4b479ef7d7fc8e440cb3a51f5cad0e49c64aa61ef39e9/vuejs/petite-vue">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700&display=swap" />
    <!-- Styles & Scripts -->
    <link rel="stylesheet" href="./src/styles/style.css">
    <script src="/src/libraries/bootstrap.bundle.min.js" defer></script>
    <script src="/src/libraries/lottie-player.min.js" defer></script>
    <script src="./src/scripts/script.js" type="module"></script>
  </head>
  <body
    class="opacity-0 min-vh-100 px-2 px-sm-0 bg-light cursor-default overflow-x-hidden"
    :class="{ 'opacity-100': !isLoading }"
    style="--animate-duration: 1.2s"
    @contextmenu.prevent
    @selectstart.prevent
    @dragstart.prevent
    @vue:mounted="init"
  >
    <section class="container">
      <div class="mb-2 cover-animation overflow-hidden">
        <lottie-player class="animate__animated animate__fadeInUp" style="--animate-duration: 1.8s" src="/assets/lottieFiles/lottieFiles_programming.json" background="transparent" speed="1" style="width: 100%;" loop autoplay></lottie-player>
      </div>
      <h1 class="mb-3 fw-bold">🤘 Create Petite App</h1>
      <p class="mb-2">
        <code class="p-1 text-dark bg-lightgray-20 rounded">create-petite-app</code>  is a frontend-template includes libraries Bootstrap 5, Animate.css and Petite-Vue.
      </p>
      <p>The use of CSS utility classes and reactivity model provides by Petite-Vue helps build projects very fast!</p>
    </section>

    <section class="container">
      <h2 class="fw-bold">Features</h2>
      <ul>
        <li>Vue template syntax and reactivity model</li>
        <li>Ready-to-use CSS Utility classes and animations</li>
        <li>Dynamic import of JavaScript ES6 <a href="https://github.com/mdn/js-examples/tree/master/modules" target="_blank">modules</a></li>
      </ul>
    </section>

    <section class="container">
      <h2 class="fw-bold">Pre-packed</h2>
      <ul>
        <li><a href="https://fonts.google.com/noto/specimen/Noto+Sans" target="_blank">Noto Sans</a> - the modern font suitable for most websites</li>
        <li><a href="https://getbootstrap.com/" target="_blank">Bootstrap</a> (v5.1.3) - the CSS library helps build responsive mobile-first sites quickly</li>
        <li><a href="https://animate.style/" target="_blank">Animate.css</a> (v4.1.1) - ready-to-use animation library, great for emphasis, home pages, sliders, and attention-guiding hints</li>
        <li><a href="https://github.com/vuejs/petite-vue" target="_blank">Petite-Vue</a> (v0.4.1) - progressive JavaScript library driven by <code class="p-1 text-dark bg-lightgray-20 rounded">@vue/reactivity</code> for building web user interfaces</li>
      </ul>
    </section>

    <section class="container">
      <h2 class="fw-bold">Ways of quick start</h2>
      <ul>
        <li><a href="https://github.com/rayc2045/create-petite-app/generate" target="_blank">Create a new repo from this template on GitHub</a></li>
        <li><a href="https://github.com/rayc2045/create-petite-app/archive/refs/heads/main.zip" target="_blank">Download this template to local</a></li>
        <li>Create a new project from the command line (npm v5.2):</li>
      </ul>
      <p
        class="p-4 d-block rounded bg-lightgray-20 cursor-pointer hint--top hint--rounded"
        :class="[isPrefersReducedMotion ? 'hint--no-animate' : 'hint--bounce']"
        aria-label="Copy to clipboard"
        @mouseleave="setTimeout(() => $el.setAttribute('aria-label', 'Copy to clipboard'), 250)"
        @click="
          copyText($el.querySelector('code').textContent);
          $el.setAttribute('aria-label', 'Copied!');
        "
      >
        <code class="text-dark">cd desktop; npx degit rayc2045/create-petite-app new-petite-app</code>
      </p>
    </section>

    <section class="container">
      <h2 class="fw-bold">Usage</h2>
      <ul>
        <li>Use <a href="https://marketplace.visualstudio.com/items?itemName=ritwickdey.LiveServer" target="_blank">Live Server</a> to preview the project</li>
        <li>Use <a href="https://marketplace.visualstudio.com/items?itemName=ritwickdey.live-sass" target="_blank">Live Sass Compiler</a> to compile Sass/Scss to CSS</li>
        <li>Use <a href="https://marketplace.visualstudio.com/items?itemName=josee9988.minifyall" target="_blank">MinifyAll</a> to compress JavaScript code</li>
        <li>Deploy production web applications on <a href="https://app.netlify.com/start" target="_blank">Netlify</a></li>
      </ul>
    </section>

    <section class="container">
      <h2 class="mb-2 fw-bold">Petite-Vue template syntax</h2>
      <p>See more usages from petite-vue README.md on <a href="https://github.com/vuejs/petite-vue" target="_blank">GitHub</a>.</p>
      <div
        class="pt-4 d-block rounded bg-lightgray-20 cursor-pointer hint--top hint--rounded"
        :class="[isPrefersReducedMotion ? 'hint--no-animate' : 'hint--bounce']"
        aria-label="Copy to clipboard"
        @mouseleave="setTimeout(() => $el.setAttribute('aria-label', 'Copy to clipboard'), 250)"
        @click="
          copyText(petiteVueExample);
          $el.setAttribute('aria-label', 'Copied!');
        "
      ><pre v-pre>
      <span class="pl-kos">&lt;</span><span style="color: forestgreen;">script</span> <span style="color: mediumblue;">type</span>="<span style="color: royalblue;">module</span>"<span class="pl-kos">&gt;</span>
        <span style="color: crimson;">import</span> <span class="pl-kos">{</span> <span class="pl-s1">createApp</span> <span class="pl-kos">}</span> <span style="color: crimson;">from</span> <span style="color: royalblue;">'https://unpkg.com/petite-vue?module'</span>
      
        <span style="color: crimson;">function</span> <span style="color:tomato;">Counter</span><span class="pl-kos">(</span><span class="pl-s1">props</span><span class="pl-kos">)</span> <span class="pl-kos">{</span>
          <span style="color: crimson;">return</span> <span class="pl-kos">{</span>
            <span style="color: mediumblue;">count</span>: <span class="pl-s1">props</span><span class="pl-kos">.</span><span style="color: mediumblue;">initialCount</span><span class="pl-kos">,</span>
            <span style="color: blueviolet;">inc</span><span class="pl-kos">(</span><span class="pl-kos">)</span> <span class="pl-kos">{</span>
              <span class="pl-smi">this</span><span class="pl-kos">.</span><span style="color: mediumblue;">count</span><span style="color: mediumblue;">++</span>
            <span class="pl-kos">}</span><span class="pl-kos">,</span>
            <span style="color: blueviolet;">mounted</span><span class="pl-kos">(</span><span class="pl-kos">)</span> <span class="pl-kos">{</span>
              <span class="pl-smi">console</span><span class="pl-kos">.</span><span style="color: blueviolet;">log</span><span class="pl-kos">(</span><span style="color: royalblue;">"I'm mounted!"</span><span class="pl-kos">)</span>
            <span class="pl-kos">}</span>
          <span class="pl-kos">}</span>
        <span class="pl-kos">}</span>
      
        <span style="color: blueviolet;">createApp</span><span class="pl-kos">(</span><span class="pl-kos">{</span>
          Counter
        <span class="pl-kos">}</span><span class="pl-kos">)</span><span class="pl-kos">.</span><span style="color: blueviolet;">mount</span><span class="pl-kos">(</span><span class="pl-kos">)</span>
      <span class="pl-kos">&lt;/</span><span style="color: forestgreen;">script</span><span class="pl-kos">&gt;</span>
      
      <span class="pl-kos">&lt;</span><span style="color: forestgreen;">div</span> <span style="color: mediumblue;">v-scope</span>="<span style="color: royalblue;">Counter({ initialCount: 1 })</span>" <span style="color: mediumblue;">@vue:mounted</span>="<span style="color: royalblue;">mounted</span>"<span class="pl-kos">&gt;</span>
        <span class="pl-kos">&lt;</span><span style="color: forestgreen;">p</span><span class="pl-kos">&gt;</span>{{ count }}<span class="pl-kos">&lt;/</span><span style="color: forestgreen;">p</span><span class="pl-kos">&gt;</span>
        <span class="pl-kos">&lt;</span><span style="color: forestgreen;">button</span> <span style="color: mediumblue;">@click</span>="<span style="color: royalblue;">inc</span>"<span class="pl-kos">&gt;</span>increment<span class="pl-kos">&lt;/</span><span style="color: forestgreen;">button</span><span class="pl-kos">&gt;</span>
      <span class="pl-kos">&lt;/</span><span style="color: forestgreen;">div</span><span class="pl-kos">&gt;</span>
      
      <span class="pl-kos">&lt;</span><span style="color: forestgreen;">div</span> <span style="color: mediumblue;">v-scope</span>="<span style="color: royalblue;">Counter({ initialCount: 2 })</span>"<span class="pl-kos">&gt;</span>
        <span class="pl-kos">&lt;</span><span style="color: forestgreen;">p</span><span class="pl-kos">&gt;</span>{{ count }}<span class="pl-kos">&lt;/</span><span style="color: forestgreen;">p</span><span class="pl-kos">&gt;</span>
        <span class="pl-kos">&lt;</span><span style="color: forestgreen;">button</span> <span style="color: mediumblue;">@click</span>="<span style="color: royalblue;">inc</span>"<span class="pl-kos">&gt;</span>increment<span class="pl-kos">&lt;/</span><span style="color: forestgreen;">button</span><span class="pl-kos">&gt;</span>
      <span class="pl-kos">&lt;/</span><span style="color: forestgreen;">div</span><span class="pl-kos">&gt;</span>
      </pre></div>
    </section>

    <section class="container">
      <h2 class="mb-2 fw-bold">Bootstrap examples</h2>
      <p>See more examples ranging from using parts of the framework to custom components and layouts <a href="https://getbootstrap.com/docs/5.1/components/accordion/" target="_blank">here</a>.</p>
      <!-- Row -->
      <div
        class="d-block cursor-pointer hint--top hint--rounded"
        :class="[isPrefersReducedMotion ? 'hint--no-animate' : 'hint--bounce']"
        aria-label="Copy to clipboard"
        @mouseleave="setTimeout(() => $el.setAttribute('aria-label', 'Copy to clipboard'), 250)"
        @click="
          copyText($el.innerHTML);
          $el.setAttribute('aria-label', 'Copied!');
        "
      >
        <div class="row mb-3">
          <div
            class="p-3 col-sm-6 col-lg-8"
            style="
              background-color: #E6E2EB;
              border: 1px solid rgba(86, 61, 124, .2);
            "
          >.col-sm-6 .col-lg-8</div>
          <div
            class="p-3 col-6 col-lg-4"
            style="
              background-color: #E6E2EB;
              border: 1px solid rgba(86, 61, 124, .2);
            "
          >.col-6 .col-lg-4</div>
        </div>
      </div>
      <div
        class="d-block cursor-pointer hint--top hint--rounded"
        :class="[isPrefersReducedMotion ? 'hint--no-animate' : 'hint--bounce']"
        aria-label="Copy to clipboard"
        @mouseleave="setTimeout(() => $el.setAttribute('aria-label', 'Copy to clipboard'), 250)"
        @click="
          copyText($el.innerHTML);
          $el.setAttribute('aria-label', 'Copied!');
        "
      >
        <div class="row mb-3">
          <div
            class="p-3 col-6 col-sm-4"
            style="
              background-color: #E6E2EB;
              border: 1px solid rgba(86, 61, 124, .2);
            "
          >.col-6 .col-sm-4</div>
          <div
            class="p-3 col-6 col-sm-4"
            style="
              background-color: #E6E2EB;
              border: 1px solid rgba(86, 61, 124, .2);
            "
          >.col-6 .col-sm-4</div>
          <div
            class="p-3 col-6 col-sm-4"
            style="
              background-color: #E6E2EB;
              border: 1px solid rgba(86, 61, 124, .2);
            "
          >.col-6 .col-sm-4</div>
        </div>
      </div>
      <!-- btn inbox -->
      <div
        class="d-inline-block hint--top hint--rounded"
        :class="[isPrefersReducedMotion ? 'hint--no-animate' : 'hint--bounce']"
        aria-label="Copy to clipboard"
        @mouseleave="setTimeout(() => $el.setAttribute('aria-label', 'Copy to clipboard'), 250)"
        @click="
          copyText($el.innerHTML);
          $el.setAttribute('aria-label', 'Copied!');
        "
      >
        <button
          type="button"
          class="ms-0 m-2 btn btn-primary position-relative"
        >
          Inbox
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            99+
            <span class="visually-hidden">unread messages</span>
          </span>
        </button>
      </div>
      <!-- Colorful btn -->
      <div
        v-for="item in ['Secondary', 'Success', 'Danger',
        'Warning', 'Info', 'Light', 'Dark', 'Link']"
        class="m-2 d-inline-block"
      >
        <div
          class="hint--top hint--rounded"
          :class="[isPrefersReducedMotion ? 'hint--no-animate' : 'hint--bounce']"
          aria-label="Copy to clipboard"
          @mouseleave="setTimeout(() => $el.setAttribute('aria-label', 'Copy to clipboard'), 250)"
          @click="
            copyText($el.innerHTML);
            $el.setAttribute('aria-label', 'Copied!');
          "
        >
          <button type="button" class="btn" :class="`btn-${item.toLowerCase()}`"
          >{{ item }}</button>
        </div>
      </div>
      <!-- Large btn -->
      <div
        class="m-2 d-inline-block hint--top hint--rounded"
        :class="[isPrefersReducedMotion ? 'hint--no-animate' : 'hint--bounce']"
        aria-label="Copy to clipboard"
        @mouseleave="setTimeout(() => $el.setAttribute('aria-label', 'Copy to clipboard'), 250)"
        @click="
          copyText($el.innerHTML);
          $el.setAttribute('aria-label', 'Copied!');
        "
      >
        <button type="button" class="btn btn-primary btn-lg">Large button</button>
      </div>
      <!-- Modal -->
      <div class="example-modal m-2 d-inline-block">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Launch demo modal
        </button>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, delectus! Ratione aliquam eum officia at.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-dismiss="modal"
                  @click="copyText($el.closest('.example-modal').innerHTML)"
                >Copy to clipboard</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Card -->
      <div
        class="cursor-pointer hint--top hint--rounded"
        :class="[isPrefersReducedMotion ? 'hint--no-animate' : 'hint--bounce']"
        aria-label="Copy to clipboard"
        @mouseleave="setTimeout(() => $el.setAttribute('aria-label', 'Copy to clipboard'), 250)"
        @click="
          copyText($el.innerHTML);
          $el.setAttribute('aria-label', 'Copied!');
      ">
        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-3">
          <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('/assets/images/unsplash-photo-1.jpeg');">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Short title, long jacket</h2>
                <ul class="d-flex list-unstyled mt-auto">
                  <li class="me-auto">
                    <img src="/assets/images/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                  </li>
                  <li class="d-flex align-items-center me-3">
                    <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                    <small>Earth</small>
                  </li>
                  <li class="d-flex align-items-center">
                    <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                    <small>3d</small>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('/assets/images/unsplash-photo-2.jpeg');">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Much longer title that wraps to multiple lines</h2>
                <ul class="d-flex list-unstyled mt-auto">
                  <li class="me-auto">
                    <img src="/assets/images/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                  </li>
                  <li class="d-flex align-items-center me-3">
                    <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                    <small>Pakistan</small>
                  </li>
                  <li class="d-flex align-items-center">
                    <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                    <small>4d</small>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('/assets/images/unsplash-photo-3.jpeg');">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Another longer title belongs here</h2>
                <ul class="d-flex list-unstyled mt-auto">
                  <li class="me-auto">
                    <img src="/assets/images/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                  </li>
                  <li class="d-flex align-items-center me-3">
                    <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                    <small>California</small>
                  </li>
                  <li class="d-flex align-items-center">
                    <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                    <small>5d</small>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="container">
      <h2 class="mb-2 fw-bold">Animate.css animations</h2>
      <p>
        <span v-if="isPrefersReducedMotion">🙁 Oops! It seems that you </span>
        <span v-if="!isPrefersReducedMotion">✏️ Note that users may </span>
        have animations disabled on the OS, turning Animate.css off. Animate.css supports the <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion" target="_blank">prefers-reduced-motion</a> CSS media feature. You can read more about it <a href="https://developers.google.com/web/updates/2019/03/prefers-reduced-motion" target="_blank">here</a>.
      </p>
      <ul class="p-0">
        <li
          v-for="animation in animations" class="p-3 mb-0 mb-sm-4 rounded-3 list-style-none bg-lightgray-20">
          <h2 class="mb-3 fs-5 fw-bold text-center text-sm-start">{{ animation.title }}</h2>
          <ul
            class="p-0 d-grid justify-content-evenly"
            style="grid-template-columns: repeat(auto-fill, 10em);"
          >
            <li
              v-for="anime in animation.items"
              class="mx-1 my-2 p-1 d-flex justify-content-center align-items-center flex-column bg-transparent border-0 cursor-pointer hint--top hint--rounded"
              :class="[isPrefersReducedMotion ? 'hint--no-animate' : 'hint--bounce']"
              aria-label="Copy class name"
              @mouseenter="toggleAnimation($el.querySelector('.rounded'), anime)"
              @mouseleave="
                toggleAnimation($el.querySelector('.rounded'), anime);
                setTimeout(() => $el.setAttribute('aria-label', 'Copy class name'), 250);
              "
              @click="
                copyText(`animate__animated animate__${anime}`);
                $el.setAttribute('aria-label', 'Copied!');
              "
            >
              <div
                class="mb-2 rounded"
                :style="`
                  width: 2.5em; height: 2.5em;
                  background-color: ${isPrefersReducedMotion ? 'lightgray' : animation.sectionBg};`"
              ></div>
              <span>{{ anime }}</span>
            </li>
          </ul>
        </li>
      </ul>
    </section>
  </body>
</html>
