<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./images/favicon.ico">
    <title>Lomography LomoInstant Automat</title>
    <meta name="title" content="Lomography LomoInstant Automat | flyingV">
    <meta name="description" content="以最高階的自動測光系統及創意功能，打造全新拍立得 Lomo'Instant Automat!">
    <meta name="keywords" content="front-end responsive utility-classes grid-layout responsive-design vue-template frontend-template animate-css front-end-template vue3 bootstrap5 petite-vue">
    <meta name="author" content="Ray Chang">
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://create-petite-app.netlify.app/demo/">
    <meta property="og:title" content="Lomography LomoInstant Automat | flyingV">
    <meta property="og:description" content="以最高階的自動測光系統及創意功能，打造全新拍立得 Lomo'Instant Automat!">
    <meta property="og:image" content="https://static.flyingv.asia/static/1024x768/projects/13958/57f5d1b087dde.png">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://create-petite-app.netlify.app/demo/">
    <meta property="twitter:title" content="Lomography LomoInstant Automat | flyingV">
    <meta property="twitter:description" content="以最高階的自動測光系統及創意功能，打造全新拍立得 Lomo'Instant Automat!">
    <meta property="twitter:image" content="https://static.flyingv.asia/static/1024x768/projects/13958/57f5d1b087dde.png">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans:300,400,500,700&display=swap" />
    <!-- Styles & Scripts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="./src/styles/style.css">
    <script src="/src/libraries/mdb.min.js" defer></script>
    <script src="./src/scripts/script.js" type="module"></script>
  </head>
  <body
    v-cloak
    class="min-vh-100 bg-white cursor-default"
    :class="{ 'overflow-hidden': isLoading }"
    style="--animate-duration: 1.2s"
    @click="ContextMenu.isShow = false"
    @contextmenu.prevent="ContextMenu.showMenu($event)"
    @selectstart.prevent
    @dragstart.prevent
    @vue:mounted="init"
  >
    <header class="sticky-top">
      <nav class="py-1 navbar navbar-expand-lg navbar-light bg-white shadow-none border-bottom">
        <div class="position-relative container-xl justify-content-start">
          <!-- toggle menu -->
          <button
            class="navbar-toggler text-danger"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#navbarButtons"
            aria-controls="navbarButtons"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fas fa-bars"></i>
          </button>
          <!-- logo -->
          <a class="navbar-brand me-2" href="https://www.flyingv.cc/">
            <img src="./images/logo.svg" height="64" alt="FlyingV Logo" loading="lazy"
            />
          </a>

          <div class="pb-3 pb-lg-0 collapse navbar-collapse" id="navbarButtons">
            <ul class="mb-2 mb-lg-0 navbar-nav">
              <li class="nav-item">
                <div class="me-1 d-sm-none nav-link dropdown">
                  <!-- lang button -->
                  <button
                    type="button"
                    class="px-2 py-1 position-realtive bg-white shadow-none border-1 dropdown-toggle"
                    style="margin-top: .5rem;"
                    id="dropdownMenuOffset"
                    data-mdb-toggle="dropdown"
                    aria-expanded="false"
                    data-mdb-offset="10,20"
                  >
                    <small class="pe-3">中文</small>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                    <li><a class="dropdown-item" href="#">English</a></li>
                    <li><a class="dropdown-item" href="#">日本語</a></li>
                  </ul>
                </div>
              </li>
              <li class="nav-item mx-2">
                <a class="nav-link text-black text-hover-danger" href="https://www.flyingv.cc/about"><small>關於</small></a>
              </li>
              <li class="nav-item mx-2">
                <a class="nav-link text-black text-hover-danger" href="https://www.flyingv.cc/projects/create"><small>提案</small></a>
              </li>
              <li class="nav-item mx-2">
                <a class="nav-link text-black text-hover-danger" href="https://www.flyingv.cc/projects"><small>探索</small></a>
              </li>
            </ul>
            <form class="d-flex input-group w-auto ms-lg-3">
              <span class="input-group-text border-0" id="search-addon">
                <i class="fas fa-search"></i>
              </span>
              <input type="search" class="form-control rounded" placeholder="搜尋專案" aria-label="Search" aria-describedby="search-addon">
            </form>
          </div>

          <div class="ms-auto position-absolute d-flex dropdown" style="right: 1rem; top: .75rem;">
            <div class="d-none d-sm-block dropdown me-1">
              <!-- lang button -->
              <button
                type="button"
                class="me-4 px-2 py-1 position-realtive bg-white shadow-none border-1 dropdown-toggle"
                style="margin-top: .5rem;"
                id="dropdownMenuOffset"
                data-mdb-toggle="dropdown"
                aria-expanded="false"
                data-mdb-offset="10,20"
              >
                <small class="pe-3">中文</small>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                <li><a class="dropdown-item" href="#">English</a></li>
                <li><a class="dropdown-item" href="#">日本語</a></li>
              </ul>
            </div>
            <!-- identity -->
            <a class="dropdown-toggle ps-4 py-1 d-flex align-items-center hidden-arrow text-decoration-none border-start" href="#" id="navbarDropdownMenuAvatar" role="button" data-mdb-toggle="dropdown" aria-expanded="false" @click="$el.querySelectorAll('i').forEach(el => el.classList.toggle('d-none'))">
              <img src="./images/nonuser.svg" class="rounded-circle me-2" height="42" alt="Black and White Portrait of a Man" loading="lazy">
              <i class="fas fa-caret-down text-dark"></i>
              <i class="d-none fas fa-caret-up text-dark"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
              <li>
                <a class="dropdown-item" href="login.html">登入</a>
              </li>
              <li>
                <a class="dropdown-item" href="register.html">註冊</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Project introduction -->
    <section class="container-fluid container-lg mt-5">
      <span class="py-2 badge badge-light rounded-0">科技設計</span>
      <h4 class="my-2 fw-bold">Lomography LomoInstant Automat</h4>
      <div class="row mt-4">
        <div class="col-12 col-md-8 px-0 px-md-2">
          <!-- video block -->
          <div class="position-relative w-100 ratio-16x9" @click="[...$el.children].forEach(el => el.classList.toggle('d-none'))">
            <!-- video cover -->
            <img class="img-fluid w-100 cursor-pointer" style="filter: brightness(.9);" src="https://i.vimeocdn.com/video/589443474-aeb82d747360325d73707300f887727cc799d7bf7c26b361ee4d3e0538a17a15-d?mw=768" alt="">
            <!-- play button in center -->
            <div
              class="position-absolute start-50 top-50
                d-flex justify-content-center align-items-center
                border border-2 border-white rounded-circle cursor-pointer"
              style="width: 2.5rem; height: 2.5rem; transform: translate(-50%, -50%);"
            >
              <big><i class="fas fa-caret-right text-white"></i></big>
            </div>
            <!-- embed viemo video -->
            <div class="d-none position-relative" style="padding-top: 56.25%;">
              <div class="position-absolute top-0 start-0 w-100 h-100">
                <iframe src="//player.vimeo.com/video/181010761" width="100%" height="100%" allowfullscreen="" frameborder="0" id="player"></iframe>
              </div>
            </div>
          </div>
          <!-- progress -->
          <div class="mb-5 px-md-0 d-xl-none position-relative container-fluid">
            <div class="progress" style="margin-top: 4rem;">
              <div
                class="progress-bar bg-danger"
                role="progressbar"
                style="width: 90%;"
                aria-valuenow="90"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
              <div class="position-absolute w-100 d-flex" style="margin-top: -1.8rem">
                <div class="d-flex flex-column">
                  <big class="text-danger fw-bold mb-3">$0</big>
                  <big class="text-black">募資開始</big>
                </div>
                <div class="position-absolute d-flex flex-column start-50">
                  <!-- circle -->
                  <div
                    class="position-absolute top-50 d-flex justify-content-center align-items-center rounded-circle bg-danger"
                    style="width: 1rem; height: 1rem; left: -1.5rem; transform: translateY(-50%)"
                  >
                    <div
                      class=" rounded-circle bg-white"
                      style="width: .55rem; height: .55rem;"
                    ></div>
                  </div>
                  <big class="text-danger fw-bold mb-3">$200,000</big>
                  <big class="text-black">募資目標</big>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 px-4 px-md-3 pb-5">
          <!-- progress -->
          <div class="d-none d-xl-block position-relative" style="margin-top: -2.5rem; margin-bottom: 3rem;">
            <div class="progress" style="margin-top: 4rem;">
              <div
                class="progress-bar bg-danger"
                role="progressbar"
                style="width: 90%;"
                aria-valuenow="90"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
              <div class="position-absolute w-100 d-flex" style="margin-top: -1.8rem">
                <div class="d-flex flex-column">
                  <big class="text-danger fw-bold mb-3">$0</big>
                  <big class="text-black">募資開始</big>
                </div>
                <div class="position-absolute d-flex flex-column start-50">
                  <!-- circle -->
                  <div
                    class="position-absolute top-50 d-flex justify-content-center align-items-center rounded-circle bg-danger"
                    style="width: 1rem; height: 1rem; left: -1.5rem; transform: translateY(-50%)"
                  >
                    <div
                      class=" rounded-circle bg-white"
                      style="width: .55rem; height: .55rem;"
                    ></div>
                  </div>
                  <big class="text-danger fw-bold mb-3">$200,000</big>
                  <big class="text-black">募資目標</big>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-4">
            <p class="mb-1 text-muted"><small>目標 NTD$200,000</small></p>
            <h2 class="fw-bold">$3,052,585</h2>
          </div>
          <div class="mb-4">
            <p class="mb-1 text-muted"><small>贊助人數</small></p>
            <h2 class="fw-bold">703 人</h2>
          </div>
          <div class="mb-4">
            <p class="mb-1 text-muted"><small>已結束</small></p>
          </div>
          <div class="mb-4">
            <p class="border-start border-5 border-danger ps-3" style="font-size: 0.5rem;">
              此計劃於 2016/09/02 - 2016/10/08 期間募資，專案募資成功！
            </p>
          </div>
          <div class="d-flex">
            <img class="rounded-circle" src="https://static.flyingv.asia/static/square/users/5b2f0a6e0f5d3.jpg" alt="" height="48px">
            <div class="ms-2 d-flex flex-column">
              <small class="mb-0 text-muted">提案者</small>
              <a class="text-dark text-hover-danger text-decoration-underline" href="https://www.lomography.tw/" target="_blank" rel="noreferrer noopener">Lomography Taiwan</a>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- Context menu -->
    <ul
      v-if="ContextMenu.lists.length"
      id="context-menu"
      class="d-none d-lg-block position-fixed dropdown-menu show overflow-hidden"
      :class="{ 'opacity-0 pe-none': !ContextMenu.isShow }"
      style="z-index: 1000001;"
    >
      <li v-for="list in ContextMenu.lists">
        <a
          class="dropdown-item"
          :href="list.link"
          @click="ContextMenu.isShow = false"
          @contextmenu.prevent.stop="$el.click()"
        >{{ list.content }}</a>
      </li>
    </ul>

    <!-- Loader -->
    <div
      v-if="isLoading"
      class="vw-100 vh-100 position-fixed start-0 top-0 d-flex justify-content-center align-items-center"
      style="z-index: 1000001; background-color: rgba(0, 0, 0, .1);"
      @contextmenu.prevent.stop
    >
      <div class="spinner-border" style="color: dimgray;"></div>
    </div>
  </body>
</html>
