<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./images/favicon.ico">
    <title>Lomography LomoInstant Automat | FlyingV</title>
    <meta name="title" content="Lomography LomoInstant Automat | flyingV">
    <meta name="description" content="以最高階的自動測光系統及創意功能，打造全新拍立得 Lomo'Instant Automat!">
    <meta name="keywords" content="front-end responsive utility-classes grid-layout responsive-design vue-template frontend-template animate-css front-end-template vue3 bootstrap5 petite-vue">
    <meta name="author" content="Ray Chang">
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://create-petite-app.netlify.app/demo/">
    <meta property="og:title" content="Lomography LomoInstant Automat | flyingV">
    <meta property="og:description" content="以最高階的自動測光系統及創意功能，打造全新拍立得 Lomo'Instant Automat!">
    <meta property="og:image" content="https://static.flyingv.asia/static/1024x768/projects/13958/57f5d1b087dde.png">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://create-petite-app.netlify.app/demo/">
    <meta property="twitter:title" content="Lomography LomoInstant Automat | flyingV">
    <meta property="twitter:description" content="以最高階的自動測光系統及創意功能，打造全新拍立得 Lomo'Instant Automat!">
    <meta property="twitter:image" content="https://static.flyingv.asia/static/1024x768/projects/13958/57f5d1b087dde.png">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans:300,400,500,700&display=swap" />
    <!-- Styles & Scripts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="./src/styles/style.css">
    <script src="/src/libraries/mdb.min.js" defer></script>
    <script src="./src/scripts/script.js" type="module"></script>
  </head>
  <body
    v-cloak
    class="min-vh-100 bg-white cursor-default"
    :class="{ 'overflow-hidden': isLoading }"
    style="--animate-duration: 1.2s"
    @click="ContextMenu.isShow = false"
    @contextmenu.prevent="ContextMenu.showMenu($event)"
    @selectstart.prevent
    @dragstart.prevent
    @vue:mounted="init"
  >
    <header class="mb-xl-3">
      <nav class="py-1 sticky-top navbar navbar-expand-lg navbar-light bg-white shadow-none border-bottom">
        <div class="position-relative container-xl justify-content-start">
          <!-- toggle menu -->
          <button
            class="navbar-toggler text-danger"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#navbarButtons"
            aria-controls="navbarButtons"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fas fa-bars"></i>
          </button>
          <!-- logo -->
          <a class="me-2 navbar-brand" href="https://www.flyingv.cc/">
            <img src="./images/logo.svg" height="64" alt="FlyingV Logo" loading="lazy"
            />
          </a>
          <!-- toggle navbar -->
          <div class="pb-3 pb-lg-0 collapse navbar-collapse" id="navbarButtons">
            <ul class="mb-2 mb-lg-0 navbar-nav">
              <li class="nav-item">
                <div class="me-1 d-sm-none nav-link dropdown">
                  <!-- lang button -->
                  <button
                    type="button"
                    class="px-2 py-1 position-realtive bg-white shadow-none border-1"
                    style="margin-top: .5rem;"
                    id="dropdownMenuOffset"
                    data-mdb-toggle="dropdown"
                    aria-expanded="false"
                    data-mdb-offset="10,20"
                    @click="toggleClasses($el.querySelector('i'), 'fa-caret-down fa-caret-up')"
                  >
                    <small class="pe-3">中文</small>
                    <i class="fas fa-caret-down text-dark"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                    <li><a class="dropdown-item" href="#">English</a></li>
                    <li><a class="dropdown-item" href="#">日本語</a></li>
                  </ul>
                </div>
              </li>
              <li class="mx-2 nav-item">
                <a class="nav-link text-black text-hover-danger" href="https://www.flyingv.cc/about"><small>關於</small></a>
              </li>
              <li class="mx-2 nav-item">
                <a class="nav-link text-black text-hover-danger" href="https://www.flyingv.cc/projects/create"><small>提案</small></a>
              </li>
              <li class="mx-2 nav-item">
                <a class="nav-link text-black text-hover-danger" href="https://www.flyingv.cc/projects"><small>探索</small></a>
              </li>
            </ul>
            <form class="ms-lg-3 w-auto d-flex input-group">
              <span class="input-group-text border-0" id="search-addon">
                <i class="fas fa-search"></i>
              </span>
              <input type="search" class="form-control rounded" placeholder="搜尋專案" aria-label="Search" aria-describedby="search-addon">
            </form>
          </div>

          <div class="ms-auto position-absolute d-flex dropdown" style="right: 1rem; top: .75rem;">
            <div class="me-1 d-none d-sm-block dropdown">
              <!-- lang button -->
              <button
                type="button"
                class="me-4 px-2 py-1 position-realtive bg-white shadow-none border-1"
                style="margin-top: .5rem;"
                id="dropdownMenuOffset"
                data-mdb-toggle="dropdown"
                aria-expanded="false"
                data-mdb-offset="10,20"
                @click="toggleClasses($el.querySelector('i'), 'fa-caret-down fa-caret-up')"
              >
                <small class="pe-3">中文</small>
                <i class="fas fa-caret-down text-dark"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                <li><a class="dropdown-item" href="#">English</a></li>
                <li><a class="dropdown-item" href="#">日本語</a></li>
              </ul>
            </div>
            <!-- avatar -->
            <a class="ps-4 py-1 d-flex align-items-center dropdown-toggle hidden-arrow text-decoration-none border-start" href="#" id="navbarDropdownMenuAvatar" role="button" data-mdb-toggle="dropdown" aria-expanded="false" @click="toggleClasses($el.querySelector('i'), 'fa-caret-down fa-caret-up')">
              <img src="./images/nonuser.svg" class="rounded-circle me-2" height="42" alt="Black and White Portrait of a Man" loading="lazy">
              <i class="fas fa-caret-down text-dark"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
              <li>
                <a class="dropdown-item" href="login.html">登入</a>
              </li>
              <li>
                <a class="dropdown-item" href="register.html">註冊</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Project intro -->
      <section class="mt-5 container-fluid container-lg">
        <div class="py-2 badge badge-light rounded-0">科技設計</div>
        <h4 class="my-2 fw-bold">Lomography LomoInstant Automat</h4>
        <div class="mt-4 row">
          <div class="col-12 px-0 col-md-8 px-md-2">
            <!-- video block -->
            <div class="position-relative w-100 ratio-16x9" @click="[...$el.children].forEach(el => el.classList.toggle('d-none'))">
              <!-- video cover -->
              <img class="img-fluid w-100 cursor-pointer" style="filter: brightness(.9);" src="https://i.vimeocdn.com/video/589443474-aeb82d747360325d73707300f887727cc799d7bf7c26b361ee4d3e0538a17a15-d?mw=768" alt="">
              <!-- play button in center -->
              <div
                class="
                  absolute-center rounded-circle
                  d-flex justify-content-center align-items-center
                  border border-2 border-white cursor-pointer"
                style="width: 2.5rem; height: 2.5rem;"
              >
                <big><i class="fas fa-caret-right text-white"></i></big>
              </div>
              <!-- embed viemo video -->
              <div class="d-none position-relative" style="padding-top: 56.25%;">
                <div class="position-absolute top-0 start-0 w-100 h-100">
                  <iframe src="//player.vimeo.com/video/181010761" width="100%" height="100%" allowfullscreen="" frameborder="0" id="player"></iframe>
                </div>
              </div>
            </div>
            <!-- progress -->
            <div class="px-md-0 my-5 py-4 d-xl-none position-relative container-fluid">
              <div class="progress">
                <div
                  class="progress-bar bg-danger"
                  role="progressbar"
                  style="width: 90%;"
                  aria-valuenow="90"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
                <div class="position-absolute w-100 d-flex" style="margin-top: -1.8rem">
                  <div class="d-flex flex-column">
                    <big class="text-danger fw-bold mb-3">$0</big>
                    <big class="text-black">募資開始</big>
                  </div>
                  <div class="position-absolute d-flex flex-column start-50">
                    <!-- circle -->
                    <div
                      class="position-absolute top-50 d-flex justify-content-center align-items-center rounded-circle bg-danger"
                      style="width: 1rem; height: 1rem; left: -1.5rem; transform: translateY(-50%)"
                    >
                      <div
                        class=" rounded-circle bg-white"
                        style="width: .55rem; height: .55rem;"
                      ></div>
                    </div>
                    <big class="text-danger fw-bold mb-3">$200,000</big>
                    <big class="text-black">募資目標</big>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 px-4 col-md-4 px-md-3">
            <!-- progress -->
            <div class="d-none d-xl-block mb-5 py-4 position-relative">
              <div class="progress">
                <div
                  class="progress-bar bg-danger"
                  role="progressbar"
                  style="width: 90%;"
                  aria-valuenow="90"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
                <div class="position-absolute w-100 d-flex" style="margin-top: -1.8rem">
                  <div class="d-flex flex-column">
                    <big class="text-danger fw-bold mb-3">$0</big>
                    <big class="text-black">募資開始</big>
                  </div>
                  <div class="position-absolute d-flex flex-column start-50">
                    <!-- circle -->
                    <div
                      class="position-absolute top-50 d-flex justify-content-center align-items-center rounded-circle bg-danger"
                      style="width: 1rem; height: 1rem; left: -1.5rem; transform: translateY(-50%)"
                    >
                      <div
                        class=" rounded-circle bg-white"
                        style="width: .55rem; height: .55rem;"
                      ></div>
                    </div>
                    <big class="text-danger fw-bold mb-3">$200,000</big>
                    <big class="text-black">募資目標</big>
                  </div>
                </div>
              </div>
            </div>
            <div class="mb-4">
              <p class="mb-1 text-muted"><small>目標 NTD$200,000</small></p>
              <h2 class="fw-bold">$3,052,585</h2>
            </div>
            <div class="mb-4">
              <p class="mb-1 text-muted"><small>贊助人數</small></p>
              <h2 class="fw-bold">703 人</h2>
            </div>
            <div class="mb-4">
              <p class="mb-1 text-muted"><small>已結束</small></p>
            </div>
            <div class="mb-4">
              <p class="px-3 text-black lh-sm border-start border-4 border-danger">
                <small><small>2016/09/02 - 2016/10/08 期間募資，專案募資成功！</small></small>
              </p>
            </div>
            <div class="mb-4 d-flex align-items-center">
              <img class="rounded-circle" src="https://static.flyingv.asia/static/square/users/5b2f0a6e0f5d3.jpg" alt="" height="48px">
              <div class="ms-2 d-flex flex-column">
                <small class="mb-0 text-muted">提案者</small>
                <a class="text-dark text-hover-danger text-decoration-underline" href="https://www.lomography.tw/" target="_blank" rel="noreferrer noopener">Lomography Taiwan</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </header>

    <!-- Project description -->
    <section>
      <div class="bg-light sticky-top">
        <!-- full list -->
        <div class="container d-none d-md-block">
          <div class="row">
            <div class="col-8 d-flex justify-content-around">
              <div class="py-4 fw-bold cursor-pointer border-bottom border-3 border-dark">專案內容</div>
              <div class="py-4 cursor-pointer">進度</div>
              <div class="py-4 cursor-pointer">留言</div>
            </div>
            <div class="col-4 d-flex justify-content-center align-items-center">
              <button
                class="py-2 w-100 bg-transparent bg-hover-light border border-dark"
                id="dropdownMenuButton"
                data-mdb-toggle="dropdown"
                aria-expanded="false"
              >分享</button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li>
                  <a class="dropdown-item" href="https://zh-tw.facebook.com/lomographytaiwan/" target="_blank" rel="noreferrer noopener"><i class="me-1 fab fa-facebook-square"></i> FB</a>
                </li>
                <li>
                  <a class="dropdown-item" @click="window.open('https://lineit.line.me/share/ui?url=https://www.flyingv.cc/projects/13958', 'Line-share', config='height=500,width=500');"><i class="me-1 fab fa-line"></i> Line</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- mobile list -->
        <ul class="px-0 py-4 sticky-top d-flex d-md-none justify-content-center align-items-center list-unstyled bg-light">
          <li class="cursor-pointer">專案內容</li>
          <li class="d-none cursor-pointer">進度</li>
          <li class="d-none cursor-pointer">留言</li>
          <i class="ms-2 fas fa-caret-down text-dark"></i>
        </ul>
      </div>
      <div class="container">
        <div class="row">
          <!-- content -->
          <div class="col-12 col-md-8 py-5 content">
            <p class="ps-4 py-3 fw-bold bg-light">
              <small>【新品上線】 Diana Instant Square</small>
            </p>
            <p class="fw-bold">謝謝大家的支持，Lomo'Instant Automat 拍立得相機已成功集資，目前生產進度十分理想，預計於 2016 月 12 月送出所有回饋。目前亦於 Lomography 網上商店開放預購，錯過了 flyingV 專案的朋友可<a class="text-danger" href="https://shop.lomography.com/tw/cameras/lomo-instant-automat" target="_blank" rel="noreferrer noopener">《按此》</a>預購。</p>
            <p class="fw-bold">假如對本公司之商品有銷售代理之興趣，歡迎以電郵聯繫<a class="text-danger" href="mailto:orders-asia@lomography.com" target="_blank" rel="noreferrer noopener">orders-asia@lomography.com</a>。</p>
            <hr class="my-5">
            <p class="fw-bold">Lomo’Instant Automat ── 你每日的即時靈感之源。</p>
            <img class="my-4 img-fluid" src="https://static.flyingv.asia/static/800x/projects/13958/article/57c6968e9837b.gif">
            <ul class="fw-bold">
              <li>最強大的拍立得相機：全新設計的終極拍立得系統，令 Lomo'Instant Automat 的快門速度、光圈設定和閃光燈強度都能夠在任何光線的情況下自動調節，無可挑剔的進行拍攝。</li>
              <li>最具代表性的創意功能：打破攝影每個界限，為你帶來超現實的藝術創意和簡單快拍！Lomo’Instant Automat 以無限重曝、長時間曝光、外置鏡頭、遙控快門等，進一步提昇攝影創意。</li>
              <li>由內至外、外至內的精心設計：輕巧、聰明及迷人的 Lomo’Instant Automat 內外兼備，還有 4 款不同的時尚設計，加上豐富的配件套裝，讓你的攝影靈感源源不絕。</li>
              <li>快速簡單的對焦模式：擁有簡易的三段對焦模式，讓你可以快速對焦並拍下最重要的瞬間！</li>
              <li>再度光榮回歸集資平台：有著過去 5 個成功並按時完成發貨的集資計劃，我們已準備好接受全新的 flyingV 集資挑戰，同時帶來豐厚優惠及禮遇給每一位支持者。</li>
            </ul>
          </div>
          <!-- product -->
          <div class="sticky-top col-12 col-md-4">
  
          </div>
        </div>
      </div>
    </section>

    <!-- Context menu -->
    <ul
      v-if="ContextMenu.lists.length"
      id="context-menu"
      class="d-none d-lg-block position-fixed dropdown-menu show overflow-hidden"
      :class="{ 'opacity-0 pe-none': !ContextMenu.isShow }"
      style="z-index: 1000001;"
    >
      <li v-for="list in ContextMenu.lists">
        <a
          class="dropdown-item"
          :href="list.link"
          @click="ContextMenu.isShow = false"
          @contextmenu.prevent.stop="$el.click()"
        >{{ list.content }}</a>
      </li>
    </ul>

    <!-- Loader -->
    <div
      v-if="isLoading"
      class="vw-100 vh-100 position-fixed start-0 top-0 d-flex justify-content-center align-items-center"
      style="z-index: 1000001; background-color: rgba(0, 0, 0, .1);"
      @contextmenu.prevent.stop
    >
      <div class="spinner-border" style="color: dimgray;"></div>
    </div>
  </body>
</html>
